@import './media-queries';
.inbox--container {
    width: 1000px;
    min-height: 90vh;
    margin-top: 20px;
    background-color: white;
    display: flex;
    border: 1px solid $border-color;

    @include desktop {
        width: 600px;
    }
    @include sm-desktop {
        width: 600px;
    }
    @include laptop {
        width: 95vw;
    }
    @include tablet {
        width: 95vw;
    }
    @include phone {
        width: 95vw;
    }
}

.inbox--leftwrapper {
    width: 350px;
    border-right: 1px solid $border-color;

    display: flex;
    align-items: center;
    flex-direction: column;

    @include desktop {
        width: 200px;
    }
    @include sm-desktop {
        width: 200px;
    }
    @include laptop {
        width: 35vw;
    }
    @include tablet {
        width: 35vw;
    }
    @include phone {
        width: 35vw;
    }

}

.inbox--rightwrapper {
    width: 650px;
    border-right: 1px solid gray;

    @include desktop {
        width: 400px;
    }
    @include sm-desktop {
        width: 400px;
    }
    @include laptop {
        width: 60vw;
    }
    @include tablet {
        width: 60vw;
    }
    @include phone {
        width: 55vw;
        border: none;
        border-bottom: 1px solid gray;
    }
}

.inbox--title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    min-height: 50px;
    margin: 0;
    font-size: 1vw;
    font-weight: bold;
    border-bottom: 1px solid $border-color;
    width: 100%;
    @include desktop {
        font-size: 1.5vw;
    }
    @include sm-desktop {
        font-size: 2.5vw;
    }
    @include laptop {
        font-size: 3vw;
    }
    @include tablet {
        font-size: 3vw;
    }
}