.inboxchat--container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: transparent !important;
    // \/
    @include desktop {

    }
    @include sm-desktop {

    }
    @include laptop {
        height: 90vh;
    }
    @include tablet {
        height: 90vh;
    }
    @include phone {
        height: 90vh;
    }
    // do usuniecia /\
}

.inboxchat--toplabel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    min-height: 50px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid $border-color;

    img {
        width: 2vw;
        height: 2vw;
        max-width: 80px;
        max-height: 80px;
        border-radius: 100%;
        margin-left: -20px;
        margin-right: 20px;
        @include laptop {
            width: 4vw;
            height: 4vw;
        }
        @include tablet {
            width: 4vw;
            height: 4vw;
        }
        @include phone {
            width: 5vw;
            height: 5vw;
        }
    }

    p {
        font-size: 1vw;
        @include desktop {
            font-size: 1.5vw;
        }
        @include sm-desktop {
            font-size: 2vw;
        }
        @include laptop {
            font-size: 3vw;
        }
        @include tablet {
            font-size: 3vw;
        }
        @include phone {
            font-size: 4vw;
        }
    }
    @include phone {
        width: 60vw;
        border-right: 1px solid gray;
    }
}

.inboxchat--messages {
    width: 650px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    @include desktop {
        width: 400px;
        height: 75vh;
    }
    @include sm-desktop {
        width: 400px;
        height: 75vh;
    }
    @include laptop {
        width: 60vw;
        height: 75vh;
    }
    @include tablet {
        width: 60vw;
        height: 75vh;
    }
    @include phone {
        width: 55vw;
        height: 75vh;
    }
}

.inboxchat--send {
    width: 650px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: transparent !important;
    @include desktop {
        width: 400px;
        height: 10vh;
    }
    @include sm-desktop {
        width: 400px;
        height: 5vh;
        justify-content: flex-end;
    }
    @include laptop {
        width: 60vw;
        height: 5vh;
    }
    @include tablet {
        width: 60vw;
        height: 5vh;
    }
    @include phone {
        width: 60vw;
        height: 10vh;
    }

    input {
        width: 450px;
        height: 30px;
        border-radius: 15px;
        border: 1px solid $border-color;
        padding: 5px;
        
        @include desktop {
            width: 250px;
        }
        @include sm-desktop {
            width: 250px;
        }
        @include laptop {
            width: 40vw;
        }
        @include tablet {
            width: 40vw;
        }

        &:focus {
            outline: none;
        }
    }

    button {
        margin-left: 20px;
        border-radius: 15px;
        height: 40px;
        background-color: transparent;
        border: 1px solid $border-color;
        color: gray;

        &:hover {
            cursor: pointer;
        }
    } 
}