@import './media-queries';
.inboxmessage--containerleft {
    width: 600px;
    min-height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;

    @include desktop {
        width: 390px;
    }
    @include sm-desktop {
        width: 390px;
    }
    @include laptop {
        width: 59vw;
    }
    @include tablet {
        width: 59vw;
    }
    @include phone {
        width: 59vw;
    }
}

.inboxmessage--containerright {
    width: 600px;
    min-height: 50px;

    margin: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: row-reverse;
    @include desktop {
        width: 390px;
    }
    @include sm-desktop {
        width: 390px;
    }
    @include laptop {
        width: 59vw;
    }
    @include tablet {
        width: 59vw;
    }
    @include phone {
        width: 59vw;
    }
}

.inboxmessage--contentleft {
    display: flex;
    align-items: center;
    max-width: 350px;
    min-height: 50px;
    border: 1px solid $border-color;
    border-radius: 40px;
    padding: 10px;

    @include desktop {
        max-width: 390px;
    }
    @include sm-desktop {
        max-width: 390px;
    }
    @include laptop {
        max-width: 50vw;
    }
    @include tablet {
        max-width: 50vw;
    }
    @include phone {
        max-width: 50vw;
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    
    p {
        margin-left: 10px;
    }
}

.inboxmessage--contentright {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 350px;
    height: auto;
    border: 1px solid $border-color;
    border-radius: 40px;
    padding: 10px;
    overflow: hidden;
    word-wrap: break-word;

    @include desktop {
        max-width: 390px;
    }
    @include sm-desktop {
        max-width: 390px;
    }
    @include laptop {
        max-width: 50vw;
    }
    @include tablet {
        max-width: 50vw;
    }
    @include phone {
        max-width: 50vw;
        max-height: auto;
        min-height: auto;
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    p {
        margin-right: 10px;
    }
}

.inboxmessage--text {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    word-break: break-word;

    @include desktop {
        max-width: 390px;
    }
    @include sm-desktop {
        max-width: 390px;
    }
    @include laptop {
        max-width: 50vw;
    }
    @include tablet {
        max-width: 50vw;
    }
    @include phone {
        max-width: 40vw;
        overflow: hidden;
        height: auto;
        min-height: auto;
        max-height: none;
    }
}