.navbar--container {
    position: fixed;
    width: 335px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
    border-right: 1px solid #dbdbdb;

    @include sm-desktop {
        width: 80px;
    }

    @include phone {
        width: 100vw;
        height: 7vh;
        position: fixed;
        bottom: 0;
    }

    @include tablet {
        width: 100vw;
        height: 7vh;
        position: fixed;
        bottom: 0;  
    }

    @include laptop {
        width: 100vw;
        height: 7vh;
        position: fixed;
        bottom: 0;
    }
}

.mainpage--navbar {
    width: 335px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    @include sm-desktop {
        width: 80px;
    }

    @include phone {
        width: 100vw;
        height: auto;
        flex-direction: row;
        padding-top: 0;
        position: fixed;
        bottom: 0;
        justify-content: center;
        border-top: 1px solid $border-color;

        div:nth-child(4),div:nth-child(5),div:nth-child(7),div:nth-child(8) {
            display: none;
        }
    }

    @include tablet {
        width: 100vw;
        height: auto;
        flex-direction: row;
        padding-top: 0;
        position: fixed;
        bottom: 0;
        justify-content: center;
        border-top: 1px solid $border-color;

        div:nth-child(4),div:nth-child(5),div:nth-child(8) {
            display: none;
        }
    }

    @include laptop {
        width: 100vw;
        height: auto;
        flex-direction: row;
        padding-top: 0;
        position: fixed;
        bottom: 0;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $border-color;
        z-index: 1;

        div:nth-child(4),div:nth-child(5),div:nth-child(8) {
            display: none;
        }
    }
}

.mainpage--logo {
    width: 190px;
    height: 95px;
    @include phone {
        display: none;
    }
    @include tablet {
        display: none;
    }
    @include sm-desktop {
        display: none;
    }
    @include laptop {
        display: none;
    }
}

.navbar--image {
    width: 150px;
    height: 55px;
    padding: 20px;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
}

.mainpage--link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
    transition: .2s;
    text-decoration: none;
    border: none;

    @include sm-desktop {
        width: 25%;
        justify-content: center;
        border-radius: 100%;
        height: 20px;
        padding: 15px;
    }

    @include phone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw;
        height: 5vw;
        margin: 10px;
    }

    @include laptop {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw;
        height: 5vw;
        margin: 10px;
    }

    @include tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw;
        height: 5vw;
        margin: 10px;
    }

    i {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        transition: .1s;
        color: black;
        background-color: transparent;

        @include sm-desktop {
            margin: 0;
        }

        @include phone {
            width: 15px;
            height: 15px;
            margin: 0px;
        }

        @include laptop {
            width: 15px;
            height: 15px;
            margin: 0px;
        }

        @include tablet {
            width: 15px;
            height: 15px;
            margin: 0px;
        }

    }

    &:hover {
        background-color: $border-color;
        cursor: pointer;

        i {
            transform: scale(1.10);
        }

        img {
            transform: scale(1.10);
        }
    }
}

.mainpage--morecontainer {
    width: 335px;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    border-right: 1px solid #dbdbdb;
    
    @include sm-desktop {
        width: 80px;
        align-items: flex-start;
    }

    @include phone {
        display: none;
    }

    @include laptop {
        display: none;
    }

    @include tablet {
        display: none;
    }
}

.navbar--link {
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    @include phone {
        display: none;
    }
    @include sm-desktop {
        display: none;
    }
    @include laptop {
        display: none;
    }
    @include tablet {
        display: none;
    }

}

.navbar--profileimg {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-left: 5px;
    transition: .1s;
    color: black;

    @include phone {
        margin: 0;
    }

    @include sm-desktop {
        margin: 0;
    }

    @include tablet {
        margin: 0;
    }
}






//search bar

.navbar--searchbar {
    width: 400px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 0 2px -2px rgba(65, 65, 65, 0.411);
    z-index: 1;
    @include phone {
        position: absolute;
        top: -93vh;
        width: 100vw;
        height: 100vh;
    }
    @include laptop {
        position: absolute;
        top: -93vh;
        width: 100vw;
        height: 100vh;
    }
    @include tablet {
        position: absolute;
        top: -93vh;
        width: 100vw;
        height: 100vh;
    }

    input {
        background-color: $primary-color;
        width: 300px;
        height: 25px;
        border-radius: 10px;
        border: 1px solid $border-color;
        margin-bottom: 20px;
        padding: 10px;
        @include phone {
            width: 80vw;
        }
    }

    hr {
        width: 400px;
        background-color: $border-color;
    }

    p {
        width: 360px;
        height: 40px;
        display: flex;
        align-items: flex-start;
        margin-left: 30px;
        font-size: 24px;
        font-weight: bold;
        color: #0c0c0c;
        @include phone {
            width: 80vw;
        }
    }
}

.navbar--searchbar--close {
    position: absolute;
    margin: 20px;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: bold;
    color: $border-color;
    border: none;
    background-color: white;
    
    &:hover {
        cursor: pointer
    }
}

.navbar--searchbar--users {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include phone {
        width: 80vw;
    }
}

.navbar--searchbar--notfound {
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}