@import './media-queries';
.mainpage--middle {
    width: 600px;
    display: flex;
    flex-direction: column;
    height: auto;
    @include phone {
        width: 95vw;
        margin-bottom: 20vw;
    }
    @include laptop {
        width: 95vw;
        margin-bottom: 20vw;
    }
    @include tablet {
        width: 95vw;
        margin-bottom: 20vw;
    }
}

.mainpage--stories {
    width: 550px;
    height: 140px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    @include phone {
        width: 95vw;
        height: auto;
    }
    @include laptop {
        width: 95vw;
        height: auto;
    }
    @include tablet {
        width: 95vw;
        height: auto;
    }
}

.mainpage--story {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    
    img {
        width: 60px;
        padding: 2px;
        border-radius: 100%;
        background-color: $primary-color;
        border: 2px solid purple !important;
        @include phone {
            width: 8vw;
        }
        @include laptop {
            width: 8vw;
        }
        @include tablet {
            width: 8vw;
        }
    }

    p {
        margin: 0;
        padding: 0;
        margin-top: 6px;
    }

    &:hover {
        cursor: pointer;
    }
}

.posts--loadingposts {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $border-hover-color;

    p {
        font-size: 25px;
        font-weight: bold;
    }

    span {
        font-size: 18px;
        font-weight: bold;
    }
}