@import './media-queries';
.posttile--container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    @include phone {
        width: 28vw;
        height: 28vw;
    }

    @include desktop {
        width: 180px;
        height: 180px;
    }
    @include laptop {
        width: 28vw;
        height: 28vw;
        max-width: 180px;
        max-height: 180px;
    }
    @include tablet {
        width: 28vw;
        height: 28vw;
    }
    @include sm-desktop {
        width: 25vw;
        height: 25vw;
        max-width: 180px;
        max-height: 180px;
    }
    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        @include phone {
            width: 28vw;
            height: 28vw;
        }
        @include desktop {
            width: 180px;
            height: 180px;
        }
        @include laptop {
            width: 28vw;
            height: 28vw;
            max-width: 180px;
            max-height: 180px;
        }
        @include tablet {
            width: 28vw;
            height: 28vw;
        }
        @include sm-desktop {
            width: 25vw;
            height: 25vw;
            max-width: 180px;
            max-height: 180px;
        }
    }

    &:hover {
        cursor: pointer;
        .posttile--hovered {
            display: flex;
        }
    }
}

.posttile--hovered {
    width: 300px;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.616) !important;
    z-index:0;
    @include phone {
        width: 28vw;
        height: 28vw;
    }
    @include desktop {
        width: 180px;
        height: 180px;
    }
    @include laptop {
        width: 28vw;
        height: 28vw;
        max-width: 180px;
        max-height: 180px;
    }
    @include tablet {
        width: 28vw;
        height: 28vw;
    }
    @include sm-desktop {
        width: 25vw;
        height: 25vw;
        max-width: 180px;
        max-height: 180px;
    }
}

.posttile--likes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent !important;

    i {
        color: white !important;
        transform: scaleX(-1);
    }

    p {
        font-size: 20px;
        padding: 10px;
        color: white !important;
        background-color: transparent !important;
    }
}