@import './variables';
@import './loginpage';
@import './mainpage';
@import './navbar';
@import './posts';
@import './posttemplate';
@import './rightside';
@import './profile';
@import './registerpage';
@import './addpost';
@import './posttile';
@import './postpreview';
@import './followedusers';
@import './loadingscreen';
@import './editprofile';
@import './userlabel';
@import './comments';
@import './notificationlabel';
@import './inbox';
@import './inboxuser';
@import './inboxchat';
@import './inboxmessage';

html {
    overflow-y: auto;
}

body {
    color: black;
    width: 100%;
    margin: 0;
    overflow-y:hidden;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}